// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #004079;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

$bg-dark-blue: #001F3B;
$bg-blue: #004079;
$bg-light-gray: #FAFAFA;
$bg-gray: #EBEBEB;
$signup: #DEDEDE;
$login: #C4C4C4;
$white: #FFFFFF;
$light-white: #ffffffcf;
$black: #000000;
$dark-gray: #484848;
$search-bar: #8D8D8D;
$pages-title: #676767;
