// banner
#banner-home {
  background-image: url("https://images.unsplash.com/photo-1564186763535-ebb21ef5277f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2550&q=80");
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
	align-items: center;
  position: relative;
  margin-top: -68px;
}

#container-banner {
  width: 68%;
  margin: auto;
  padding-bottom: 120px;
}

#banner-home h1 {
  color: $white;
  font-family: $homepage-font;
  font-size: 3.5rem;
  padding-bottom: 20px;
}

#banner-home h2 {
  color: $light-white;
  font-family: $homepage-font;
  font-size: 2.5rem;
  padding-bottom: 30px;
}

#cta-discover {
  display: flex;
  flex-direction: column;
	align-items: center;
  position: absolute;
  bottom: 30px;
  i {
    color: $white;
    font-size: 40px;
    margin-top: 15px;
    border-radius: $border-radius;
  }
}

#btn-discover {
  border: 3px solid $white;
  border-radius: $border-radius;
  display: inline-block;
  font-family: $homepage-font;
  font-size: 32px;
  color: $white;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 100px;
  padding-right: 100px;
  text-decoration: none;
}

// content discover
.bg-gray {
  background-color: $bg-gray;
}

.bg-blue {
  background-color: $bg-blue;
}

.text-dark-gray {
  color: $dark-gray;
}

.text-white {
  color: $white;
}

.container-img {
  width: 42%;
  height: 50vh;
  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}

.container-text {
  width: 57%;
}

.container-text-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  height: 100%;
  padding: 0px 60px;
  h4 {
    margin-bottom: 25px;
  }
}

#btn-signup {
  background-color: $blue;
  border-radius: $border-radius;
  display: inline-block;
  font-family: $body-font;
  font-size: 28px;
  font-weight: 400;
  color: $white;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 50px;
  padding-right: 50px;
  text-decoration: none;
}

//footer
#footer-homepage {
  background: $bg-dark-blue;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  color: $light-white;
  padding-bottom: 0px;
  margin-top: 30px;
  p {
    margin: 0 auto;
  }
}
