.container-page {
  display: flex;
  height: calc(100vh - 62px);
}

.content-page {
  flex: 1 1 auto;
  overflow: auto;
}

.bg-white {
  background-color: $white;
}

.pages-title {
  color: $pages-title;
  h4 {
    margin: 0 auto;
  }
}

.p-sticky-top {
  position: sticky;
  top: 0px;
  z-index: 1000;
}

.rotate-arrow {
  transform: rotate(270deg);
}

iframe {
  svg {
    display: none!important;
  }
}
