.container-page {
  display: flex;
  height: 91vh;
}

.content-page {
  flex: 1 1 auto;
  overflow: auto;
}

.bg-white {
  background-color: $white;
}

.pages-title {
  color: $pages-title;
  h4 {
    margin: 0 auto;
  }
}

.p-sticky-top {
  position: sticky;
  top: 0px;
  z-index: 1000;
}
