<nav id="sidebar">
  <p>Bands</p>
  <hr class="solid">
  <ul>
    <% user_bands.each do |user_band| %>
      <li><a href='bands/<%= user_band.band.id %>'><%= user_band.band.name %></a></li>
    <% end %>
  </ul>
</nav>
