<div class="side-bar">
  <p>Bands</p>
  <hr class="solid">
  <ul>
    <% user_bands.each do |user_band| %>
      <li>
        <%= link_to user_band.name, band_path(user_band), class: "bands" %>
      </li>
      <ul>
        <% user_band.songs.each do |song| %>
          <li><%= link_to song.name, band_song_path(user_band, song), class: "songs" %></li>
        <% end %>
      </ul>
    <% end %>
  </ul>
</div>
