<div class="side-bar">

  <p>Bands</p>
  <hr class="solid">

  <ul>
    <% user_bands.each do |user_band| %>
      <li class="dropdown-sidebar">
        <i class="fas fa-sort-down mr-1"></i>
        <%= cl_image_tag user_band.photo.key, class: "avatar-bands mr-2" %>
        <%# <%= link_to user_band.name, band_path(user_band), class: "bands" %>
        <span class="bands"><%= user_band.name %></span>
      </li>
      <ul>
        <% user_band.songs.each do |song| %>
          <li class="pb-2"><%= link_to song.name, band_song_path(user_band, song), class: "songs" %></li>
        <% end %>
      </ul>
    <% end %>
  </ul>

  <div id="footer-sidebar">
      <p>TuneHub is made with ❤️ at Le Wagon</p>
  </div>

</div>
