<h1>Songs#show</h1>
<% @partitions.each do |partition| %>
  <ul>
  <li><%= partition.title %><%= link_to 'SEE PARTITION', "/songs/#{partition.song_id}/partitions/#{partition.id}" %></li>
  </ul>
<% end %>
