<div class="container-cards-partitions">
  <% @partitions.each do |partition| %>
    <%= link_to song_partition_path(partition.song_id, partition.id) do %>
      <div class="card-partition">
        <div class="row">
          <div class="col col-infos">
            <div class="card-partition-infos">
              <h2><%= partition.title %></h2>
              <p>Product description with <strong>relevant info</strong> only.</p>
            </div>
          </div>
          <div class="col col-image">
          <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
