
<div id="banner-home">
  <div id="container-banner">
    <h1>Kick start your projects</h1>
    <h2>Collaborate to stay tuned.</h2>
  </div>
  <div id="cta-discover">
    <a href="#" id="btn-banner">Discover</a>

  </div>
</div>

<h1>Pages#home</h1>
<%= link_to "USER PAGE", "/bands/" %>
