
<div id="banner-home">
  <div id="container-banner">
    <h1>Kick start your projects</h1>
    <h2>Collaborate to stay tuned.</h2>
  </div>
  <div id="cta-discover">
    <a href="#anchor-discover" id="btn-discover">Discover</a>
    <i class="fas fa-chevron-down"></i>
  </div>
</div>

<div id="bg-white">

  <div class="container py-5 text-center" id="anchor-discover">
    <h3>
      Everything you need to collaborate successfully with your bands
    </h3>
    <div class="d-block">
      <div class="my-2 d-flex justify-content-between">
        <div class="container-left">
          test
        </div>
        <div class="container-right">
          test
        </div>
      </div>
      <div class="my-2 d-flex justify-content-between">
        <div class="container-right">
          test
        </div>
        <div class="container-left">
          test
        </div>
      </div>
      <div class="my-2 d-flex justify-content-between">
        <div class="container-left">
          test
        </div>
        <div class="container-right">
          test
        </div>
      </div>
    </div>
  </div>

</div>
