<div>
  <div class="d-flex justify-content-between bg-white">
    <div class="m-2 pl-5">
      <h4>Dashboard</h4>
    </div>
    <div class="m-2 pr-3">
      <form method="get" action="/bands/new">
        <div><input value="New band" type="submit" class="btn btn-primary" /></div>
      </form>
    </div>
  </div>


    <div class="card-deck m-5">
      <% @user_bands.each do |user_band| %>
        <%= link_to band_path(user_band.id) do %>
          <div class="card-band">
            <%= cl_image_tag user_band.photo.key %>
            <div class="card-band-infos">
              <div>
                <h2 class="link-band"><%= user_band.name %></h2>
              </div>
              <%= 'Membres' %>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>

</div>
