<div>
  <div class="d-flex justify-content-between bg-white">
    <div class="m-2 pl-5">
      <h4>Create a new band</h4>
    </div>
    <div class="d-flex justify-content-between">
      <div class="m-2 pr-3">
        <form method="get" action="/bands/">
          <div><input value="Back" type="submit" class="btn btn-primary" /></div>
        </form>
      </div>
    </div>
  </div>
  <div class="container mt-3">
    <%= simple_form_for(@band) do |f| %>
      <%= f.input :name %>
      <%= f.input :photo,
                  as: :file,
                  required: true %>
      <%= f.submit %>
    <% end %>
  </div>
</div>
