<div class="container">
  <div class="card-form">
    <div class="form">
      <%= simple_form_for(@band) do |f| %>
        <%= f.input :name %>
        <%= f.input :photo,
                    as: :file,
                    required: true,
                    class: "btn btn-success" %>
        <%= f.submit class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>
