<h1>All your songs</h1>
<ul>
  <% @songs.each do |song| %>
    <li><%= song.name %> <br>
    <%= song.description %> <br>
    <%= link_to 'PARTITIONS', band_song_path(song.band_id, song.id) %>
    </li>
  <% end %>
</ul>
