.cards {
  display: flex;
  flex-wrap: wrap;
  // justify-content: space-between;
}

.card-band {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  width: 350px;
  margin-right: 20px;
  margin-bottom: 10px;
}



.card-band > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.card-band h2 {
  font-size: 24px;
  font-family: $body-font;
  font-weight: 700;
  color: $dark-gray;
  margin: 0;
}

.card-band p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}

.card-band .card-band-infos {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
  color: black;
}

.card-band-infos .card-band-user {
  position: absolute;
  right: 20px;
  top: -20px;
  width: 40px;
}

.card-deck a {
  text-decoration: none !important;
  &:hover {
    text-decoration: none !important;
  }
}

/** RESPONSIVE **/

@media (max-width: 1600px) {
  .cards {
    justify-content: center;
  }
}
