.card-song-container{
  a {
    text-decoration: none !important;
    &:hover {
      text-decoration: none !important;
    }
  }
}
.card-song {
  height: 150px;
  background:$white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  padding: 30px;
  margin-bottom: 30px;
  font-family: $body-font;
  color: $dark-gray;
  p {
    opacity: .8;
    margin-bottom: 0;
    margin-right: 100px;
  }
}
