// .cards-band-container {
//   flex-grow: 1;
//   display: grid;
//   grid-template-columns: 1fr 1fr 1fr;
// }
.card-deck {
  grid-gap: 24px;
}

.card-band {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  width: 280px;
  height: 300px;
  img {
    height: 220px;
    width: 100%;
    object-fit: cover;
  }
  a {
    text-decoration: none !important;
    &:hover {
      text-decoration: none !important;
    }
  }
}


.card-band-infos {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 20px;
  margin-top: 15px;
  color: $dark-gray;
  h2 {
    font-size: 24px;
    font-family: $body-font;
    color: $dark-gray;
    margin: 0;
  }
  p {
    font-size: 12px;
    opacity: .7;
    margin: 0;
  }
}

// .card-band-infos .card-band-user {
//   position: absolute;
//   right: 20px;
//   top: -20px;
//   width: 40px;
// }


/** NEW BAND CARD **/
.card-new-band {
  overflow: hidden;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  width: 280px;
  height: 300px;
  background-image: url("https://st2.depositphotos.com/2234823/8318/i/450/depositphotos_83184362-stock-photo-plus-sign-button-plus-sign.jpg");
  background-position: center;
}

/** RESPONSIVE **/

// @media (max-width: 1600px) {
//   .cards {
//     justify-content: center;
//   }
// }
