// .cards-band-container {
//   flex-grow: 1;
//   display: grid;
//   grid-template-columns: 1fr 1fr 1fr;
// }
.card-deck {
  grid-gap: 24px;
}

.card-band {
  overflow: hidden;
  background: $white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  width: 280px;
  height: 300px;
  img {
    height: 220px;
    width: 100%;
    object-fit: cover;
  }
  a {
    text-decoration: none !important;
    }
  &:hover {
      opacity: 0.8;
      text-decoration: none !important;
  }
}


.card-band-infos {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 20px;
  padding-top: 35px;
  color: $dark-gray;
  h2 {
    font-size: 24px;
    font-family: $body-font;
    color: $dark-gray;
    margin: 0;
  }
  p {
    font-size: 16px;
    opacity: .8;
    margin: 0;
  }
}

// .card-band-infos .card-band-user {
//   position: absolute;
//   right: 20px;
//   top: -20px;
//   width: 40px;
// }


/** NEW BAND CARD **/
.card-new-band {
  overflow: hidden;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  width: 280px;
  height: 300px;
  background-color: $white;
  display: flex;
  align-items: center;
  justify-content: center;
  i {
    font-size: 260px;
    color: $bg-gray;
  }
  &:hover {
      opacity: 0.8;
      text-decoration: none !important;
  }
}

/** RESPONSIVE **/

// @media (max-width: 1600px) {
//   .cards {
//     justify-content: center;
//   }
// }
