.card-song {
  height: 150px;
  background:$white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin-bottom: 30px;
  font-family: $body-font;
  color: $dark-gray;
  border-radius: $border-radius;
  display: flex;
  p {
    opacity: .8;
    margin-bottom: 0;
  }
  &:hover {
      opacity: 0.8;
      text-decoration: none !important;
  }
}

.w-85 {
  width: 85%;
}

.w-15 {
  width: 15%;
}
