.card-partition {
  background:$white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin-bottom: 30px;
  font-family: $body-font;
  color: $dark-gray;
  padding: 15px;
  p {
    opacity: .8;
  }
  audio {
    width: 50vw;
  }
}

#comments-scroll::-webkit-scrollbar {
  width: 6px;
  border-radius: 3px;
}

/* Track */
#comments-scroll::-webkit-scrollbar-track {
  background: transparent;
}

#comments-scroll::-webkit-scrollbar-thumb {
  background: $login;
}

#comments-scroll:hover::-webkit-scrollbar-thumb {
  background: $bg-blue;
  border-radius: 3px;
}

#comments-scroll {
  height: 42vh;
}
