.navbar-collapse {
  flex-grow: 0;
}

.navbar-brand {
  font-family: $homepage-font;
  color: $white!important;
  font-size: 28px;
  margin-left: 15px;
  padding-top: 0px;
  padding-bottom: 0px;
}

.navbar-home {
  background: transparent;
  z-index: 1000;
}

.navbar-pages {
  background: $bg-dark-blue;
}

.sign-up {
  color: $signup!important;
  font-weight: 500;
  font-size: 20px;
  margin-right: 20px;
}

.login {
  color: $login!important;
  font-weight: 400;
  font-size: 20px;
}

.dashboard {
  color: $white!important;
  font-weight: 500;
  font-size: 20px;
  margin-right: 20px;
}

.search-bar {
  margin-left: 100px;
  .form-control {
    border-radius: 30px;
    width: 350px;
    margin-top: 2px;
  }
}
