.side-bar {
  height: calc(100vh - 68px);
  width: 280px;
  flex: 0 0 auto;
  background: linear-gradient(180deg, $bg-blue, $bg-dark-blue);
  position: relative;
  p {
      font-family: $body-font;
      padding-left: 30px;
      color:$white;
      font-size: 24px;
      margin: auto;
      padding: 8.5px 30px;
  }
  ul {
    list-style: none;
    padding: 20px 14px;
    i {
      color: $white;
    }
    ul {
      padding-left: 80px;
      padding-right: 0px;
      padding-top: 10px;
      padding-bottom: 45px;
    }
  }
}

hr.solid {
  border-top: 1px solid $white;
  padding-bottom: 20px;
  margin: auto;
}

.bands {
  text-decoration: none !important;
  color:$white;
  font-size: 18px;
  &:hover {
    text-decoration: none !important;
    color: $white;
  }
}


.songs {
  text-decoration: none !important;
  color:$light-white;
  &:hover {
    color: $white;
    text-decoration: none !important;
  }
}

#footer-sidebar {
  background: $bg-dark-blue;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  padding-bottom: 0px;
  margin-top: 30px;
  position: absolute;
  bottom: 0px;
  width: 100%;
  p {
    margin: 0 auto;
    color: $light-white;
    font-size: 12px;
    padding: 0px;
  }
}
