.side-bar {
  height: 91vh;
  width: 300px;
  flex: 0 0 auto;
  background: $bg-blue;
  p {
      font-family: $body-font;
      padding-left: 30px;
      color:$white;
      font-size: 24px;
      margin: auto;
      padding: 10px 30px;
  }
  ul {
    list-style: none;
    padding-bottom: 20px;
  }
}

hr.solid {
  border-top: 1px solid $light-white;
  padding-bottom:  20px;
  margin: auto;
}

.bands {
  text-decoration: none !important;
  color:$light-white;
  &:hover {
    text-decoration: none !important;
    color: $white;
  }
}


.songs {
  text-decoration: none !important;
  color:$light-white;
  &:hover {
    color: $white;
    text-decoration: none !important;
  }
}
