p {
    font-family: $body-font;
    padding-left: 30px;
    color: white;
    font-size: 24px;
    margin: auto;
    padding: 10px 30px;
}

#sidebar {
    height: 91vh;
    width: 300px;
    flex: 0 0 auto;
    background: $blue-ocean;
}

hr.solid {
  border: 1px solid rgba(255, 255, 255, 0.575);
  margin: auto;
}

a {
  text-decoration: none;
  color: white;
}

ul {
  list-style: none;
}
